.container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: $grid-xs) {
  @for $i from 1 through $columns-count {
    .col-xs-#{$i} {
      width: 100% / $columns-count * $i;
    }
  }

  .container {
    max-width: 90%;
  }
}

@media (min-width: $grid-sm) {
  @for $i from 1 through $columns-count {
    .col-sm-#{$i} {
      width: 100% / $columns-count * $i;
    }
  }

  .container {
    max-width: 54rem;
  }
}

@media (min-width: $grid-md) {
  @for $i from 1 through $columns-count {
    .col-md-#{$i} {
      width: 100% / $columns-count * $i;
    }
  }

  .container {
    max-width: 72rem;
  }
}

@media (min-width: $grid-lg) {
  @for $i from 1 through $columns-count {
    .col-lg-#{$i} {
      width: 100% / $columns-count * $i;
    }
  }

  .container {
    max-width: 96rem;
  }
}

@media (min-width: $grid-xl) {
  @for $i from 1 through $columns-count {
    .col-xl-#{$i} {
      width: 100% / $columns-count * $i;
    }
  }
}