.side-bar {
    display: flex;
    flex-direction: column;
    font-family: $font;
    font-size: 2.5rem;
    font-weight: 400;
    background-color: $color-bg-light;

    &__top {
        display: flex;
        @include posCenter;
        border-bottom: .2rem solid $color-border;
        padding: 2rem 0;
    }

    &__img {
        width: 75%;
        object-fit: contain;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 2.75rem;
        padding-bottom: 5rem;
    }

    &__link {
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: $color-white;
        max-width: 80%;
        transition: all 400ms;
        padding: 1.5rem 2rem;

        &:hover {
            background-color: $color-link-dark;
            color: $color-text;
        }
    }
}