.side-bar {
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 100vh;
    font-family: $font;
    font-size: 2.8rem;
    font-weight: 400;
    background-color: $color-bg-light;

    &__top {
        display: flex;
        @include posCenter;
        border-bottom: .3rem solid $color-border;
        padding: 2rem 0;
    }

    &__img {
        width: 75%;
        object-fit: contain;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 2.75rem;
    }

    &__link {
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        color: $color-white;
        max-width: 80%;
        
        &:not(:last-of-type) {
            margin-bottom: 3.75rem;
        }
    }
}