$font: ArialMT, sans-serif;

$color-white: #ffffff;
$color-black: #000000;

$color-bg-dark: #10131d;
$color-bg-light: #191d2b;

$color-link-dark: #0c1635;
$color-link-light: #2049c5;

$color-border: #2e344e;
$color-text: #3f62ce;