$font: Playfair_Display,
sans-serif;

$color-white: #ffffff;
$color-black: #000000;

$color-bg-dark: #10131d;
$color-bg-light: #f2f3f7;

$color-link-dark: #0c1635;
$color-link-light: #2049c5;

$color-border: #2e344e;
$color-text: #3f62ce;
$color-text-light: #777777;
$color-text-dark: #272424;

$color-btn-blue: #0c1cc9;
$color-btn-green: #0a8030;
$color-btn-red: #db1414;
$color-btn-blue-dark: #0c1d42;
$color-about-item-left: #fd7272;

$columns-count: 12;
$grid-xs: 320px;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 991px;
$grid-xl: 1200px;