@import '../../styles/main.scss';

.main-component {
  width: 80%;
  position: relative;

  &__routes-container {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .main-component {
    width: 100%;
    height: 100%;
  }
}