.homepage {
    width: 80%;
}

.about {
    position: relative;

    &__area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.sites-and-newspapers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.television {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-top: 20rem;
}

.admin-panel {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        width: 90%;
    }

    &__items {
        border: .1rem solid rgba($color-text-dark, .25);
    }

    &__items-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }

    &__items-container-top {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .homepage {
        width: 100%;
        height: 100%;
    }
}