.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sites-and-newspapers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.television {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__content {
        // justify-content: center;
    }
}