@font-face {
  font-family: Playfair_Display;
  font-weight: 400;
  src: url('../../assests/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: Playfair_Display;
  font-weight: 500;
  src: url('../../assests/fonts/PlayfairDisplay-Medium.ttf');
}

@font-face {
  font-family: Playfair_Display;
  font-weight: 600;
  src: url('../../assests/fonts/PlayfairDisplay-SemiBold.ttf');
}

@font-face {
  font-family: Playfair_Display;
  font-weight: 700;
  src: url('../../assests/fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
  font-family: Playfair_Display;
  font-weight: 800;
  src: url('../../assests/fonts/PlayfairDisplay-ExtraBold.ttf');
}

@font-face {
  font-family: Playfair_Display;
  font-weight: 900;
  src: url('../../assests/fonts/PlayfairDisplay-Black.ttf');
}

.heading-primary {
  color: $color-black;
  font-family: $font;
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 2.5rem;
  padding-left: 1rem;
}

.heading-secondary {
  text-transform: capitalize;
  color: $color-text-dark;
  font-family: $font;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: left;
}

.heading-tertiary {
  color: $color-white;
  font-family: $font;
  font-size: 1.8rem;
  font-weight: 400;
}